* a, a:hover, a:active, a:focus {
    text-decoration: none;
}
.btn:active:focus, .btn:focus, button:focus  {
    outline: none;
    text-decoration: double;
}
.form-control {
    border-radius: 0;
}
.form-control.btn {
    text-transform: uppercase;
    border-radius: 0;
}
.fa-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
$blue-color: #224c79;
$blue-light-color: #4e7f9c;
$light-blue-color: #d9e9fa;
header {
    height: 672px;
    background: url("../img/header-background.jpg") center;
    background-size: cover;
}
.header-title {
    width: 70%;
    margin-top: 120px;
    padding: 10px 0;

    background-color: rgba(62,102,146, .7); //desaturate((lighten($blue-color,10%)),10%);
    //opacity: 0.7;
    h1 {
        color: #ffffff;
    }
    h3 {
        color: #d9e9fa;//desaturate((lighten($blue-color,40%)),90%);
    }
}
//---------NAV------------//
nav.navbar {
    position: absolute;
    width: 100%;
    top: 0;

    font-size: 16px;
    background-color: rgba(244,259,243, .7);
    border-radius: 0;

    .navbar-toggle {
        float: left;
    }
    .navbar-right {
        float: right;
        a {
            padding-top: 5px;
            padding-bottom: 5px;
            color: darken($blue-color, 5%);
        }
    }
    .navbar-collapse {
        li {
            a {
                padding-left: 10px;
                padding-right: 10px;
                color: desaturate((lighten($blue-color,10%)),10%);
            }
        }
    }
}
.navbar-header {
    float: right;
}

//-------------SECTION discount-form------------//
.discount-form {
    font-size: 24px;
    color: #ffffff;
    background-color: $blue-color;

    .description {
        margin: 3% 5% 3% 0;
    }
    form {
        margin-top: -37%;
        padding: 5% 10%;
        color: darken($blue-color, 5%);
        background-color: rgba(183,208,236, .85);
    }
    .btn {
        color: #ffffff;
        background-color: darken($blue-color, 5%);
    }
}

//-------------SECTION about-water------------//

.about-water {
    padding-bottom: 1%;
    color: darken($blue-color, 3%);
    font-size: 18px;
    h2 {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    /*.fa {
        font-size: 18px;
    }
    .fa:before {
        font-size: 36px;
    }*/
    .fa-icon:before {
        display: block;
        float: left;
        margin-bottom: 20px;
        margin-right: 20px;
        font-size: 40px;
        color: $blue-light-color;//desaturate((lighten($blue-color,30%)),20%);
    }
}
//-------------SECTION water-mineral------------//
.water-mineral {
    color: #ffffff;
    background: url("../img/water-mineral-background.jpg") center;
    background-size: cover;
}
.water-mineral-item {
    margin: 2% 0 0 25%;
    //margin-left: 10%;
    font-size: 16px;
    p {
        margin-bottom: 15px;
    }
    .fa-icon:before {
        font-size: 20px;
        margin-right: 20px;
    }
}

.our-product {
    color: darken($blue-color, 3%);
    h2 {
        margin-top: 5%;
    }
}
.product-item-title {
    span {
        color: lighten(saturate($blue-light-color,30%),20%);//lighten($blue-light-color,10%);
    }
}
.product-item-foto {
    width: 35%;
}
.product-item-description {
    width: 64%;
    display: inline-block;
}




@media (min-width: 768px){
    /*nav {

        .navbar-toggle {
            display: block;
        }
    }*/
}
@media (max-width: 991px){
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .navbar-right {
        li {
            display: inline-block;
        }
    }
       /* .navbar-toggle {
            display: none;
        }*/


}


        @media  screen and (min-width : 320px) and (max-width : 480px) {}
@media  screen and (min-width : 481px) and (max-width : 700px) {}
@media  screen and (min-width : 710px) and (max-width : 1000px) {}
@media  screen and (min-width : 1001px) and (max-width : 1024px) {}

