$blue-color: #224c79;
$blue-light-color: #4e7f9c;
$light-blue-color: #d9e9fa;
* a, a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
}
.form-control {
    border-radius: 0;
}
.form-control:active:focus, .form-control:focus {
    border-color: darken($blue-color,5%);
    box-shadow: none;
}
.form-control.btn {
    text-transform: uppercase;
    border-radius: 0;
    border-width: 2px;
}

.form-control.btn:active:focus, .form-control.btn:focus {
    outline: none;
    text-decoration: double;
    border-color: transparent;
}
@mixin button($background-color) {
    background-color: $background-color;
    &:hover {
        border: 2px solid $background-color;
        background-color: desaturate(lighten($background-color, 10%),10%);
    }
}
@mixin strip ($strip-color,$strip-width) {
    position: relative;
    &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -5px;

        display: block;
        width: $strip-width;
        height: 2px;

        background-color: $strip-color;
    }
}
@mixin header-strip ($height) {
    position: relative;
    &:after {
        position: absolute;
        content: "";
        left: 30%;
        bottom: -5px;

        width: 40%;
        height: $height;
        margin: 0 auto;
        background-color: #ffffff;

        transition: all 0.5s;
    }
    &:hover:after {
        transform: scale(0);
    }
}
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder, textarea::-moz-placeholder                        {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder, textarea:-moz-placeholder                          {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder                  {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder                    {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
body {
    font-family: 'Roboto', sans-serif;
}
.fa-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

header {
    height: 672px;
    background: url("../img/header-background.jpg") center;
    background-size: cover;
    img {
        margin-top: 15%;
    }
}
.header-title {
    width: 70%;
    margin-top: 120px;
    padding: 10px 0;

    background-color: rgba(62,102,146, .7); //desaturate((lighten($blue-color,10%)),10%);

    /*opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.8s, transform 0.8s;
    -webkit-transform: scale(0);
    transform: scale(0);*/
    //opacity: 0.7;
    h1 {
        font-family: 'Ubuntu', sans-serif;
        color: #ffffff;
        @include header-strip(2px);
        &:after {
            transform: scale(0);
        }
    }
    .strip-faid-in:after {
        transform: scale(1);
    }
    h3 {
        color: #d9e9fa;
    }
    /*animation:
    slideRight 0.5s ease-in 2s backwards,
    fadeOut 1s linear 4.4s backwards;*/
}
.title-faid-in {
    opacity: 1;
    transform: scale(1);
}

//---------NAV------------//
nav.navbar {
    position: absolute;
    width: 100%;
    top: 0;

    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(244,259,243, .7);
    border-radius: 0;

    .navbar-toggle {
        margin-left: 10px;
        float: left;
        border: none;
        background: $blue-color;
        border-radius: 0;
        .icon-bar {
            position: relative;
            margin-top: 6px;
            margin-bottom: 6px;

            background-color: #ffffff;

            -webkit-transition-property: background-color, -webkit-transform;
            -moz-transition-property: background-color, -moz-transform;
            -o-transition-property: background-color, -o-transform;
            transition-property: background-color, transform;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            &:before, &:after {
                position: absolute;
                content: "";
                display: block;

                width: 22px;
                height: 2px;
                background-color: #ffffff;
                border-radius: 1px;

                -webkit-transition-property: background-color, -webkit-transform;
                -moz-transition-property: background-color, -moz-transform;
                -o-transition-property: background-color, -o-transform;
                transition-property: background-color, transform;
                -webkit-transition-duration: 0.3s;
                -moz-transition-duration: 0.3s;
                -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
            }
            &:before {
                top: -6px;
            }
            &:after {
                bottom: -6px;
            }
        }
        .icon-bar-close {
            background-color: transparent;
            &:before {
                -webkit-transform: translateY(6px) rotate(37deg);
                -moz-transform: translateY(6px) rotate(37deg);
                -ms-transform: translateY(6px) rotate(37deg);
                -o-transform: translateY(6px) rotate(37deg);
                 transform: translateY(6px) rotate(37deg);
            }
            &:after {
                -webkit-transform: translateY(-6px) rotate(-37deg);
                -moz-transform: translateY(-6px) rotate(-37deg);
                -ms-transform: translateY(-6px) rotate(-37deg);
                -o-transform: translateY(-6px) rotate(-37deg);
                transform: translateY(-6px) rotate(-37deg);
            }
        }
        &:focus,&:hover {
            background-color: $blue-color;
        }
    }
    .navbar-right {
        float: right;
        font-size: 18px;
        a {
            padding-top: 2px;
            padding-bottom: 2px;
            color: darken($blue-color, 5%);
            &:hover,&:focus {
                //font-size: 18px;
                color: #3e9240;//desaturate($blue-color, 55%);
                background-color: inherit;
                transform: scale(1.1);
            }
        }
        .fa-icon:before {
            margin-right: 5px;
        }
    }
    .navbar-collapse {
        border-color: $blue-color;
        li {
            a {
                padding-left: 10px;
                padding-right: 10px;
                color: desaturate((lighten($blue-color,10%)),10%);
            }
        }
        li>a:hover {
            color: darken($blue-color,2%);
        }
    }
    .hover-line {
        position: relative;
        //display: inline-block;
        //vertical-align: middle;
        padding-bottom: 3px;
        &:hover:after {
            width: 100%;
        }
    }
    .hover-line:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 0;
        height: 2px;
        background-color: darken($blue-color,2%);
        transition: width .5s ease-in-out;
    }
}
nav.nav-open {
    background-color: lighten($blue-color,63%);//#ffffff;
}
.navbar-header {
    float: right;
}

//-------------SECTION discount-form------------//
.discount-form {
    font-size: 24px;
    color: #ffffff;
    background-color: $blue-color;

    .description {
        margin: 3% 5% 3% 0;
    }
    form {
        margin-top: -37%;
        padding: 5% 10%;
        color: darken($blue-color, 5%);
        background-color: rgba(183,208,236, .85);
        .fa-icon:before {
            font-size: 14px;
            vertical-align: super;
            margin-top: 10px;
        }
    }
    .btn {
        color: #ffffff;
        //background-color: $color-but;//darken($blue-color, 5%);
        @include button(darken($blue-color, 5%));
    }
}

//-------------SECTION stock-animation------------//
.stock {
    padding-bottom: 5px;//110px;
    background: url("../img/water-backgr.jpg") bottom no-repeat;
    background-size: contain;
    border-bottom: 1px solid $blue-light-color;
}
.stock-animation {
    width: 45%;
    margin: 30px auto 50px;
    .animation-img {
        //position: relative;
        width: 26%;
        float: left;
        &:last-child {
            width: 38%;
            padding: 0 20px;
            //float: right;
        }
    }
    .animation-fig {
        width: 5%;
        float: left;
        margin-top: 11%;
    }
}
.stock-item {
    margin-bottom: 20px;
    background-color:  rgba(230, 233, 236, 0.8);//#eee;
    padding: 10px 15px;
    border: 1px solid #6c96b9;
    border-radius: 4px;
    //opacity: 0.9;
   // background-color: $blue-light-color;
    img {
        width: 30px;
        height: 45px;
    }
    .bottle-amount {
        margin: 0 20px 0 10px;
        display: inline-block;
        vertical-align: middle;

        font-size: 28px;
        font-weight: bold;
        color: #6a6c6f;
        //color: $blue-color;

    }
    .fa-times:before {
        font-size: 20px;
        vertical-align: top;
        margin-top: 23%;
        margin-right: 10px;
    }
}
.stock-item-price {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;

    span {
        font-size: 24px;
        color: #158ac1;
    }
}
/*.wrap {
    background-color: $blue-light-color;
}*/
//-------------SECTION about-water------------//

.about-water {
    padding-bottom: 4%;
    color: darken($blue-color, 3%);
    font-size: 18px;
    h2 {
        margin-top: 6%;
        margin-bottom: 35px;
    }
    /*.fa {
        font-size: 18px;
    }
    .fa:before {
        font-size: 36px;
    }*/
    .fa-icon:before {
        display: block;
        float: left;
        margin-bottom: 30px;
        margin-right: 20px;
        font-size: 40px;
        color: $blue-light-color;//desaturate((lighten($blue-color,30%)),20%);
    }
}
//-------------SECTION water-mineral------------//
.water-mineral {
    color: #ffffff;
    background: url("../img/water-mineral-background.jpg") center;
    background-size: cover;
}
.water-mineral-item {
    margin: 2% 0 0 25%;
    //margin-left: 10%;
    font-size: 16px;
    p {
        margin-bottom: 15px;
    }
    .fa-icon:before {
        font-size: 20px;
        margin-right: 20px;
    }
}
//--------------SECTION our-product------------//
.our-product {
    padding-bottom: 30px;
    color: darken($blue-color, 3%);
    h2 {
        margin-top: 5%;
        @include strip (darken($blue-color, 3%),10%);
    }
}
/*.product-item {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}*/
.product-item-title {
    height: 80px;
    span {
        color: lighten(saturate($blue-light-color,30%),20%);//lighten($blue-light-color,10%);
    }
}
.product-item-foto {
    display: inline-block;
    width: 35%;
    padding: 1%;
    overflow:hidden;

    //border: 1px solid #ccc;
    //border-radius: 5%;

    img {
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 0.5s ease-out;
    }
    img:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        cursor: pointer;
    }
}
.product-item-description {
    width: 64%;
    padding-left: 15px;
    display: inline-block;
    vertical-align: top;

    font-size: 16px;
    color: #5f6368;
}

//---------------SECTION order-form------------//
.order-form {
    padding: 55px 0 40px;
    color: #ffffff;
    background: url("../img/order-background.jpg") center;
    background-size: cover;

    .btn {
        color: #ffffff;
        @include button(darken($blue-color, 5%));
        //background-color: darken($blue-color, 5%);
    }
}
.order-form-description {
    padding: 2% 0 0 8%;
    height: 132px;
    font-size: 24px;

    background-color: rgba(62,102,146, .7);
    h2 {
        @include strip(#ffffff,40%);
    }
}

//---------------SECTION our-certificate------------//
.our-certificate {
    color: #5f6368;
    h2 {
        margin: 3% 0;
        color: darken($blue-color, 3%);
        @include strip(darken($blue-color, 3%),10%);
    }
}
.our-certificate-item {
    //margin: 0 0 3%;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3%;

    font-size: 18px;
    text-align: center;
    p {
        margin-top: 10px;
    }
    /*.fa-icon:before {
        display: block;
        font-size: 79px;
        color: #6dbbea;
    }*/
    &:hover {
        cursor: pointer;
        //opacity: 0.5;
        //color: lighten(saturate($blue-light-color,30%),20%);
    }
 }

//---------------SECTION special-discount-form------------//
.special-discount-form {
    padding-bottom: 30px;
    font-size: 16px;
    color: darken($blue-color, 4%);
    h2 {
        margin: 3% 0;
        padding-top: 3%;
        border-top: 2px solid #158ac1;
        color: #158ac1;//#00b0f2;
    }
    p {
        margin-bottom: 3px;
    }
    form {
        padding: 20px 40px;
        background-color: #f2f2f2;
        span {
            color: #158ac1;
        }
        .btn {
            color: #ffffff;
            @include button(#158ac1);
            //background-color: #158ac1;
        }
    }
    .special-discounts {
        position: relative;
        height: 300px;
        padding: 20px 0 5px 40px;
        background-color: #f2f2f2;

        img {
            position: absolute;
            width: 30%;
            bottom: 0;
            right: -8%;
        }
    }
}

//---------------SECTION comment-form------------//
.comment-form {
    background-color:  #eeeeee;
    h2 {
        margin: 3% 0;
        color: darken($blue-color, 3%);
    }
    .comments {
        width: 900px;
        margin: 4% auto;
    }
}

//---------------SECTION our-contact-content-----------//
.our-contact-content {
    margin: 5%;
    padding-left: 5%;
    font-size: 16px;
    color: #5f6368;
    border: 2px solid #eeeeee;
    h2, h4, span {
        color: lighten($blue-color,7%);
    }
    h2 {
        @include strip(lighten($blue-color,7%),20%);
    }
    p {
        margin-bottom: 5px;
    }
}

//---------------SECTION question-form-----------//
.question-form {
    color: desaturate(lighten($blue-color,50%),40%);
    background-color: desaturate(lighten($blue-color,8%),17%);
    h4 {
        margin: 20px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid desaturate(lighten($blue-color,30%),40%);
    }
    input, textarea {
        margin-bottom: 25px;
    }
    .btn {
        color: #ffffff;
        //@include button(saturate(darken($blue-color,12%),30%));
        background-color: saturate(darken($blue-color,12%),30%);
        &:hover {
            color: saturate(darken($blue-color,12%),30%);
            background-color: desaturate(lighten($blue-color,50%),40%);
            //border: 1px solid saturate(darken($blue-color,12%),30%);
        }
    }
    .form-control:active:focus, .form-control:focus {
        border-color: inherit;
    }
}

//---------------footer-----------//
footer {
    padding: 1% 0;
    color: #ffffff;
    background-color: saturate(darken($blue-color,12%),30%);
    text-align: center;
    .footer-title {
        //width: 50%;
        margin: auto;
        display: inline-block;
    }
    h3 {
        @include header-strip(1px);
    }
    p {
        color: #d9e9fa;
    }
    ul {
        margin-top: 10px;
        padding: 0;
        display: inline-block;
        .social-icon {
            margin: 0 5px;
            list-style: none;
            display: inline-block;
        }
    }
    .social-icon {
        transition: all 0.5s;
        &:hover {
            transform: scale(1.2);
        }
    }
    .fa-icon {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        display: inline-block;

        color: #ffffff;
        border-radius: 4px;
        background-color: #006600;
    }
    .fa-icon:before {
        font-size: 18px;
        height: 30px;
        line-height: 30px;
    }
    .fa-vk {
        background-color: #48729e;
    }
    .fa-facebook {
        background-color: #3b5998;
    }
    .fa-odnoklassniki {
        background-color: #eb722e;
    }
    .fa-instagram {
        background: linear-gradient(to bottom left, #be16fe, #f1a516);
    }
    .fa-phone {
        background-color: #7b519d;
    }
    .fa-whatsapp {
        background-color: #65bc54;
    }
    .fa-skype {
        background-color: #00aff0;
    }
    .fa-paper-plane {
        background-color: #64a9dc;
    }
}

#back-to-top {
    position: fixed;
    bottom: 10%;
    right: 5%;
    transition: opacity 0.5s ease-out 0.2s;
}

.hide-arrow {
    opacity: 0;
}
.show {
    opacity: 0.7;
    &:hover {
        transition-duration: 0.1s!important;
        opacity: 1;
    }
}

//--------MODAL-------//
#myModal {
    .modal-body {
        padding: 0;
    }
}
.modal-content {
    form {
        padding: 5% 10%;
        color: darken($blue-color, 5%);
        background-color: rgba(183,208,236, .85);
    }
    .btn {
        width: 50%;
        color: #ffffff;
        //background-color: $color-but;//darken($blue-color, 5%);
        @include button(darken($blue-color, 5%));
    }
}
.modal-header {
    color: #ffffff;
    background-color: darken($blue-color, 5%);
    button {
        span {
            color: #ffffff;
        }
        &:active,&:focus {
            outline: none;
        }
    }
}
#sendModal {
    .modal-body {
        button.close {
            float: none;
            text-transform: uppercase;
            border-radius: 0;
            border: 2px solid;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            opacity: 1;
            &:active,&:focus {
                outline: none;
            }
        }
    }

}
#ok_shareWidget {
    width: 30px!important;
    height: 30px!important;
    display: inline-block !important;
    vertical-align: middle;
}
@media (max-width: 1199px){
    header {
        img {
            margin-top: 42%;
        }
    }
    .header-title {
        width: 80%;
    }
    .discount-form {
        .description {
            font-size: 20px;
        }
    }
    .about-water {
        h2 {
            font-size: 24px;
        }
    }
    h3 {
        font-size: 20px;
    }
    .wrap {
        .container {
            width: 100%;
        }
    }
    .stock-item {
        .fa-times:before {
            font-size: 18px;
        }
        .bottle-amount {
            font-size: 24px;
        }
    }
    .stock-item-price {
        font-size: 16px;
        span {
            font-size: 18px;
        }
    }
    .product-item-title {
        height: 65px;
    }
    .order-form-description {
        font-size: 18px;
        h2 {
            margin-bottom: 30px;
            font-size: 24px;
        }
    }
}
@media (max-width: 991px){
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }



    header {
        img {
            margin-top: 49%;
        }
    }
    .navbar-right {
        height: 48px;
        line-height: 48px;
        li {
            display: inline-block;
        }
    }
    .discount-form {
        .description {
            margin-top: 6%;
        }
    }
    .stock-animation {
        width: 55%;
    }
       /* .navbar-toggle {
            display: none;
        }*/
    .product-item-title {
        height: auto;
    }
    .product-item-foto {
        width: 25%;
    }
    .product-item-description {
        vertical-align: bottom;
    }
    .order-form-description {
        font-size: 16px;
        h2 {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
    .our-certificate-item {
        margin-top: 5%;
    }
    .special-discount-form .special-discounts {
        height: 310px;
    }
    .comment-form .comments {
        width: 100%;
        margin: 0;
    }
    #vk_comments {
        width: 100%!important;
        margin-bottom: 20px;
        iframe {
            width: 100%!important;
        }
    }
    .our-contact-content {
        h2 {
            font-size: 24px;
        }
    }
    footer ul .social-icon {
        margin: 0 15px;
    }
}
@media (max-width: 767px){
    header {
        height: 470px;
        img {
            margin-top: 10%;
        }
        h1 {
            font-size: 24px;
        }
    }
    nav.navbar {
        .navbar-toggle {
            margin-left: 10px;
        }
    }
    .about-water {
        font-size: 14px;
        h2 {
            font-size: 18px;
        }
        p {
            width: 85%;
            margin: 0 auto 10px;
        }
        .fa-icon:before {
            font-size: 24px;
        }
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    .discount-form {
        font-size: 18px;
        .description {
            margin-top: 2%;
            font-size: 18px;
        }
        form {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
    .water-mineral-item {
        font-size: 14px;
        margin-left: 17%;
        .fa-icon:before {
            margin-right: 10px;
            font-size: 16px;
        }
    }
    .wrap .container {
        width: 80%;
        text-align: center;
    }
    .stock-animation {
        width: 65%;
        margin-bottom: 30px;
    }
    .stock-item {
        display: inline-block;
        padding-left: 50px;
        padding-right: 50px;
    }
    .stock-item-price {
        font-size: 14px;
    }
    .product-item-description {
        margin-top: 10px;
        font-size: 14px;
    }
    .product-item-foto {
        width: 20%;
    }
    .product-item {
        //margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .order-form {
        padding: 15px 0 0;
    }
    .order-form-description {
        margin-bottom: 15px;
        padding: 1px 0 0 12px;
        height: 100px;
    }
    .our-certificate-item {
        font-size: 15px;
        img {
            width: 50px;
        }
    }
    .special-discount-form {
        font-size: 14px;
        .special-discounts {
            height: auto;
            margin-bottom: 20px;
            img {
                right: 0;
            }
        }
        form {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
    .question-form {
        h4 {
            font-size: 16px;
        }
    }
    .our-contact-content {
        font-size: 14px;
        h2 {
            font-size: 18px;
        }
        h4 {
            margin-top: 0;
            font-size: 16px;
        }
    }
    #back-to-top {
        bottom: 20px;
        right: -35px;
        img {
            width: 50%;
        }
    }
}
@media (max-width: 560px){
    header {
        .col-xs-4 {
            width: 42%;
        }
    }
    .our-product {
        text-align: center;
        h2:after {
            right: 0;
            margin: auto;
        }
    }
    .product-item-foto {
        display: block;
        margin: 0 auto 10px;
    }
    .product-item-description {
        display: block;
        width: 100%;
        text-align: center;
    }
    footer ul .social-icon {
        margin: 0 6% 15px;
    }
}

@media (max-width: 480px){
    header {
        height: 400px;
        .col-xs-4 {
            //width: 100%;
            //float: none;
            //margin: auto;
            img {
                max-width: 150px;
            }
            //width: 42%;
        }
    }
    .header-title {
        width: 95%;
        margin-top: 75px;
    }
    nav {
        .fa-phone {
            span {
                display: none;
            }
        }
    }
    h3 {
        font-size: 16px;
    }
    .discount-form .description {
        margin: 20px 0;
        font-size: 16px;
    }
    .water-mineral-item {
        margin-left: 20px;
    }
    .stock-animation {
        width: 80%;
    }
    .stock-item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .product-item-foto {
        width: 30%;
    }
    .our-certificate-item {
        width: 100%;
    }
}

/*@media  screen and (min-width : 320px) and (max-width : 480px) {}
@media  screen and (min-width : 481px) and (max-width : 700px) {}
@media  screen and (min-width : 710px) and (max-width : 1000px) {}
@media  screen and (min-width : 1001px) and (max-width : 1024px) {}*/

